/* Header css  */
.header {
  height: 10.4rem;
  border-radius: 0 0 25px 25px;
  position: relative;
  font-family: "Finlandica", sans-serif;
}

.profile-img {
  /* background-color: #540b0e; */
  box-shadow: rgb(231 224 224) 0px 2px 4px, rgb(234 227 227) 0px 7px 13px -3px,
    rgb(240 235 235 / 0%) 0px -3px 0px inset;
}
.info p {
  font-size: 0.8rem;
}

.slogan {
  /* position: absolute;
  top: 20px;
  right: 8%; */
  font-family: "Courgette", cursive;
  font-size: 2rem;
}

.links {
  /* position: absolute;
  bottom: -2px; */
}

.links a {
  color: #fff;
  text-decoration: none;
  width: 120px;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 10px 10px 0 0;
  height: 32px;
  line-height: 35px;
  font-weight: 600;
  margin-left: 24px;
}

/* Header Responsive */

@media only screen and (max-width: 768px) {
  .header {
    height: 14rem;
    padding: 5px !important;
  }
  .img-info-slogan {
    flex-direction: column;
  }
  .slogan {
    top: 146px;
    right: 10%;
    font-size: 1.2rem;
    margin-top: 15px;
  }
  .links {
    justify-content: center !important;
  }
  .links a {
    font-size: 0.6rem;
    width: 82px;
    height: 26px;
    line-height: 28px;
    margin: 3px;
  }
  .color-change-container {
    top: 240px !important;
  }
}

/* Color button css */
.color-button {
  position: absolute;
  right: 0;
  top: 100;
}
.box-blue {
  width: 20px;
  height: 20px;
  background-color: #003f88;
}
.box-brown {
  width: 20px;
  height: 20px;
  background-color: #540b0e;
}
.box-orange {
  width: 20px;
  height: 20px;
  background-color: #ff5400;
}
.box-purple {
  width: 20px;
  height: 20px;
  background-color: #5f0f40;
}
.color-change-container {
  position: absolute;
  left: 0;
  top: 200px;
}
.color-change-container button {
  border-radius: 0 10px 10px 0;
}
.color-change-container button:hover {
  opacity: 0.8;
}
